#### Text analytics

In [166]:
# Pandas 
import pandas as pd

In [167]:
# Change path as per the loaction of the data 
action_history_path = r'C:\Users\shivamsharma\OneDrive - techscalable\Training\AI-102\Demo\Language_Analysis\gov_data\no_pii_action_history_reprocessed2.json'

categorycode_mapping_path = r'C:\Users\shivamsharma\OneDrive - techscalable\Training\AI-102\Demo\Language_Analysis\gov_data\CategoryCode_Mapping.xlsx'

no_pii_grievance_path = r'C:\Users\shivamsharma\OneDrive - techscalable\Training\AI-102\Demo\Language_Analysis\gov_data\no_pii_grievance.json'

In [168]:
# Read the files 
action_history_df = pd.read_json(action_history_path)
categorycode_mapping_df = pd.read_excel(categorycode_mapping_path)
no_pii_grievance_df = pd.read_json(no_pii_grievance_path)

In [205]:
# registration_no = ID of  the ticket 
# torg =  to which dept it was forwared 
# Usercode = ID of the user
# OfficerDetail = Officer names
# Ticket reg no _1, _2, _3 
# Delay = The ticket was under review by the dept for how many days

print(action_history_df.columns)  

action_history_df.head(2)

Index(['_id', 'OfficerDetail', 'OfficerDetail_torg', 'Usercode', 'action_srno',
       'action_status', 'date_of_action', 'do_code', 'document_id', 'flag',
       'item_no', 'org_code', 'registration_no', 'remarks', 'torg', 'delay',
       'comment'],
      dtype='object')

,_id,OfficerDetail,OfficerDetail_torg,Usercode,action_srno,action_status,date_of_action,do_code,document_id,flag,item_no,org_code,registration_no,remarks,torg,delay,comment
0,MORLY/E/2023/0000001_1,None,None,NaN,1,00,2023-01-01T00:00:00.000+0000,None,None,None,NaN,C1TZN,MORLY/E/2023/0000001,None,MORLY,NaN,NaN
1,MORLY/E/2023/0000001_2,MAMTA SINGH (DEO),None,NaN,2,4T,2023-01-02T00:00:00.000+0000,None,None,None,NaN,MORLY,MORLY/E/2023/0000001,,ERLYS,0.0,NaN

In [208]:
# Code = Target attribute for a classification problem 
# Desc, Org, MonitoringCode

print(categorycode_mapping_df.columns)
categorycode_mapping_df.head(5)

Index(['Code', 'Description', 'OrgCode', 'Parent', 'Stage', 'MonitoringCode'], dtype='object')

   Code         Description OrgCode  Parent  Stage  MonitoringCode
0     1  Telecommunications   DOTEL     NaN      1           506.0
1     2      Mobile Related   DOTEL     1.0      2           506.0
2     3     Pension Related   DOTEL     1.0      2           102.0
3     4   Broadband Related   DOTEL     1.0      2           506.0
4     5    Landline Related   DOTEL     1.0      2           506.0

In [171]:
# CategoryV7 = code(categorycode_mapping_df) 
# registration_no = Ticket no 
# subject_content_text = User has described the problem Tamil, Gujrati, English, Hindi, Hinglish, Mix of these lang 

print(no_pii_grievance_df.columns)
no_pii_grievance_df.head(2)

Index(['_id', 'CategoryV7', 'DiaryDate', 'UserCode', 'closing_date',
       'dist_name', 'org_code', 'pincode', 'recvd_date', 'registration_no',
       'remarks_text', 'resolution_date', 'sex', 'state',
       'subject_content_text', 'v7_target'],
      dtype='object')

,_id,CategoryV7,DiaryDate,UserCode,closing_date,dist_name,org_code,pincode,recvd_date,registration_no,remarks_text,resolution_date,sex,state,subject_content_text,v7_target
0,MORLY/E/2023/0000001,11578.0,{'$date': '2023-01-01T00:00:19.977Z'},110124.0,{'$date': '2023-01-04T00:00:00Z'},North 24 Parganas,MORLY,700130,{'$date': '2023-01-01T00:00:19.977Z'},MORLY/E/2023/0000001,"As per railway record, there is no authoriz...",{'$date': '2023-01-04T00:00:00Z'},M,WB,"Railways, ( Railway Board) >> Miscellaneous\r\...",No
1,GOVUP/E/2023/0000001,NaN,{'$date': '2023-01-01T00:01:29.78Z'},45427.0,{'$date': '2023-01-24T00:00:00Z'},NaN,GOVUP,203001,{'$date': '2023-01-01T00:01:28.567Z'},GOVUP/E/2023/0000001,NaN,NaN,M,UP,XAXPX/X/X0X2X4X0X0\tREGARDING CBCID INSPECTION...,NaN

In [172]:
# We find 3 columns to be effective for todays exercises which text 
selected_no_pii_grievance_df = no_pii_grievance_df[['CategoryV7', 'registration_no', 'subject_content_text']]
selected_no_pii_grievance_df.head(2) # New dataframe = table with 3 columns

,CategoryV7,registration_no,subject_content_text
0,11578.0,MORLY/E/2023/0000001,"Railways, ( Railway Board) >> Miscellaneous\r\..."
1,NaN,GOVUP/E/2023/0000001,XAXPX/X/X0X2X4X0X0\tREGARDING CBCID INSPECTION...

In [173]:
print("Total rows", selected_no_pii_grievance_df.shape[0]) # Checking rows in the dataframe

Total rows 175784

In [174]:
rows_before = selected_no_pii_grievance_df.shape[0] # counting the rows before 
# Drop the rows with null values 
selected_no_pii_grievance_clean_df = selected_no_pii_grievance_df.dropna()  

rows_after = selected_no_pii_grievance_clean_df.shape[0] # after the operation 

rows_dropped = rows_before = rows_after

print("Rows dropped", rows_dropped) # How many rows were dropped

Rows dropped 63622

In [175]:
# Remove the duplicates here 
duplicated_mask = selected_no_pii_grievance_clean_df['subject_content_text'].duplicated() # Counting the duplicates 
dupliacte_count = duplicated_mask.sum()
print(dupliacte_count) # Count the duplicates

3251

In [176]:
selected_no_pii_grievance_dropduplicate_df = selected_no_pii_grievance_clean_df.drop_duplicates(subset=['subject_content_text'])  # Drop the duplicates here 
selected_no_pii_grievance_dropduplicate_df.head()

,CategoryV7,registration_no,subject_content_text
0,11578.0,MORLY/E/2023/0000001,"Railways, ( Railway Board) >> Miscellaneous\r\..."
2,2369.0,MOLBR/E/2023/0000001,Labour and Employment >> PF Withdrawal >> Othe...
3,2379.0,MOLBR/E/2023/0000002,Labour and Employment >> Pension >> Others\r\n...
6,20493.0,MODEF/E/2023/0000001,Defence >> Canteen Stores Depot related >> Non...
7,5270.0,DEPOJ/E/2023/0000002,Justice >> Others\r\n-----------------------\r...

In [177]:
# Checking if the any duplicates are there or not 
duplicated_mask = selected_no_pii_grievance_dropduplicate_df['subject_content_text'].duplicated()
duplicate_count = duplicated_mask.sum()
print(duplicate_count)

0

In [178]:
# Just look at the data 
selected_no_pii_grievance_dropduplicate_df.head()

,CategoryV7,registration_no,subject_content_text
0,11578.0,MORLY/E/2023/0000001,"Railways, ( Railway Board) >> Miscellaneous\r\..."
2,2369.0,MOLBR/E/2023/0000001,Labour and Employment >> PF Withdrawal >> Othe...
3,2379.0,MOLBR/E/2023/0000002,Labour and Employment >> Pension >> Others\r\n...
6,20493.0,MODEF/E/2023/0000001,Defence >> Canteen Stores Depot related >> Non...
7,5270.0,DEPOJ/E/2023/0000002,Justice >> Others\r\n-----------------------\r...

#### Key Phrase Extraction

In [179]:
# Selecting only 10 rows only to keep cost minimum of Azure AI Services.
selected_no_pii_grievance_10_df = selected_no_pii_grievance_dropduplicate_df.iloc[:10]

In [180]:
selected_no_pii_grievance_10_df.head()

,CategoryV7,registration_no,subject_content_text
0,11578.0,MORLY/E/2023/0000001,"Railways, ( Railway Board) >> Miscellaneous\r\..."
2,2369.0,MOLBR/E/2023/0000001,Labour and Employment >> PF Withdrawal >> Othe...
3,2379.0,MOLBR/E/2023/0000002,Labour and Employment >> Pension >> Others\r\n...
6,20493.0,MODEF/E/2023/0000001,Defence >> Canteen Stores Depot related >> Non...
7,5270.0,DEPOJ/E/2023/0000002,Justice >> Others\r\n-----------------------\r...

In [181]:
import os
from dotenv import load_dotenv
from azure.core.credentials import AzureKeyCredential
from azure.ai.textanalytics import TextAnalyticsClient

In [182]:
load_dotenv()
ai_service_endpoint = os.getenv('AI_SERVICE_ENDPOINT')
ai_service_key = os.getenv('AI_SERVICE_KEY')

credential = AzureKeyCredential(ai_service_key)
ai_client = TextAnalyticsClient(endpoint=ai_service_endpoint, credential=credential)

In [183]:
def extract_key_phrases(df, column_name): # passing dataframe, column_name 
    documents = [{"id":str(idx), "text": text} for idx, text in df[column_name].iteritems()]

    response = ai_client.extract_key_phrases(documents=documents) # SDK = extract_key_phrases()

    key_phrases = []

    for result in response:
        if not result.is_error:
            key_phrases.append(result.key_phrases)

        else:
            key_phrases.append("error")

    return key_phrases

In [184]:
selected_grievance_keyphrases_10_df = selected_no_pii_grievance_10_df.copy() # Where we are using .copy() to make a copy of the original df  
selected_grievance_keyphrases_10_df["keyphrases"] = extract_key_phrases(selected_no_pii_grievance_10_df, 'subject_content_text') # Use the extract key phrases

C:\Users\shivamsharma\AppData\Local\Temp\ipykernel_40304\1786272108.py:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  documents = [{"id":str(idx), "text": text} for idx, text in df[column_name].iteritems()]

In [185]:
selected_grievance_keyphrases_10_df.head()

,CategoryV7,registration_no,subject_content_text,keyphrases
0,11578.0,MORLY/E/2023/0000001,"Railways, ( Railway Board) >> Miscellaneous\r\...","[Miscellaneous Railway Board/ Zone, PSU/ PU/ O..."
2,2369.0,MOLBR/E/2023/0000001,Labour and Employment >> PF Withdrawal >> Othe...,"[M/S SKECHERS SOUTH ASIA PVT LTD, attachment p..."
3,2379.0,MOLBR/E/2023/0000002,Labour and Employment >> Pension >> Others\r\n...,[SAAL PURE HUYE HAI FIR BHI MERA EPS ME XOXTX...
6,20493.0,MODEF/E/2023/0000001,Defence >> Canteen Stores Depot related >> Non...,"[son grocery dependent card, dependent/authori..."
7,5270.0,DEPOJ/E/2023/0000002,Justice >> Others\r\n-----------------------\r...,"[public servant, Police station, Justice, Othe..."

In [186]:
# Printing few of the key phases if the service is going a good job on our data or not 

for index, row in selected_grievance_keyphrases_10_df.iterrows():
    print(f"Row {index}: {row['keyphrases']}\n")

Row 0: ['Miscellaneous Railway Board/ Zone', 'PSU/ PU/ Office', 'SDAH  ER Location', 'yrain,common people', 'The Railway Board', 'temporary railway line', 'bad condition', 'great danger', 'Bhaskar  Mitra', 'Madhyamgram station', 'Railways', 'stones', 'side', 'passengers', 'time', 'matter', 'place']

Row 2: ['M/S SKECHERS SOUTH ASIA PVT LTD', 'attachment pdf file', 'Scheme Certificate Number', 'offline final settlement', 'PF Account No.', 'pf final settlement', 'PF number', 'PF Withdrawal', 'PF Office', 'UAN No.', 'PPO No.', 'Regional Office', 'Thane II', 'RUDRARAM RAJU', 'technical issues', 'Epfo department', 'Dear sir', 'company name', 'Labour', 'Employment', 'Others', 'Address', 'Establishment', 'madam', 'courier']

Row 3: ['SAAL PURE HUYE HAI FIR  BHI MERA EPS ME XOXTXIXUXIXN HUA HAI BULKI MERA', 'SAAL COMPLETED  KE BAAD WALA EPS AMMOUNT KAISE WITHDRWAL KARR SAKTA HU', '5 LOGO KA AMMOUNT WAISE HEE FASA HUA HAI SIR PLZ SUGGETION', 'SAAL KAM KIYA LEKIN SIR MUZE WAHA PERR', 'KAISE KYA KARR SAKTA HU MERE ALAWA', 'DEAR SIR MAI SHRI HEMANT KUMAR CHAVHAN', 'XOXTXIXUXIXN NAHI  HONA CHAHIYE THA ABHI', '58 SAAL KE BAAD EPFO RULLES', 'MS KANWAR NARENDER SINGH SECURITY YAHA', 'MY EPS AMMOUNT WITHDRWAL', 'KE NUSAR EPS ME', 'AAPKE TARAF SE SUGGETION', 'DIJIYE KI MAI', 'Scheme Certificate Number', 'KO HEE', 'PF Account No.', 'PF Office', 'UAN No.', 'PPO No.', 'Regional Office', 'SE LEKAR', 'Labour', 'Employment', 'Pension', 'Others', 'Name', 'Address', 'Establishment', 'XUXPXNXXXXXXXXXXXXXXXXXXXX', 'Pune', 'JANUARY', 'JUNE 2022', 'TAK']

Row 6: ['son grocery dependent card', 'dependent/authorized card holder', 'Canteen Stores Depot', 'Late Ramsingh Army', 'Non entry', 'CSD unit', 'Chenab brigade', 'Sir i', 'Plz sir', 'Defence', 'Name', 'widow', 'age', 'details']

Row 7: ['public servant', 'Police station', 'Justice', 'Others', 'இது Sp', 'ாதம் Camera', 'ப', 'ரும்', 'ீதி', 'அரசர்க', '100', 'த்திர', '்தில', '்று', 'ன்னை', 'கொட', 'ரமாக', 'தாக்கி', 'தை', '்த்த', '்கிலி', 'சாட்சி', 'றுதி', '்து', 'தனை', 'ரி', 'திர்', 'ீச்சல்', 'அடி', 'க்கும்', 'அவனின்', 'ுக்கு', 'ுன்னாலும்', '்டாமவன்', '்டாமவனு', 'ேட்', 'ற்கு', 'ான்', '்டாமவனே', 'துமக்', 'ிடம்', 'ாது', 'சொல்லி', 'ீவ', 'வே', '்டி', '்றம்ல', '்சில', 'னக்கு', '்சம்', 'ரலனா', 'ாதி', 'கேவலமா', 'றினேன்', 'கார', '்டை', '்னி', 'ாகு', 'முன்னாடி', '்தா', 'மாட்டேன்', 'மிரா', 'சொன்னவன்', 'ார்', 'ானம்', 'மயிர்', 'டவடிக்கை']

Row 8: ['I Danapuneni Sreekanth Rao', 'Sreekanth Rao Danapuneni ACCOUNT', '5 crores Indian rupees', 'ACCOUNT NAME', 'Bank ACCOUNT', 'Indian embassy', 'indian Government', 'External Affairs', 'tution fee', 'Indians safety', 'cpgrams portal', 'permanent residency', 'IFSC CODE', 'Bank Details', 'foreign country', 'New-Zealand Government', 'INDIA BRANCH', 'loss Ministry', 'STATE BANK', 'Others', 'college', 'services', 'difficulties', 'mails', 'years', '7000 grievances', 'Dollars', 'NZD', 'money', 'MANTHANI', 'TELANGANA', 'Thanks', 'regards']

Row 9: ['Pradhan Mantri Gram Sadak Yojana', 'Pradhan Mantri Grama Sadak Yojana', 'undeveloped hill area cum', 'inter remote area', 'G.P Headquarters', 'Honourable Minister Department', 'Honourable Secretary', 'Rural Development', 'Kaladu Via', 'unconnected village', 'New Delhi', 'Grievance-Dear Sir', 'Bamprada Gramapanchyat', 'Barkote Block', 'Deogarh District', 'great step', 'new road', 'communication facility', 'PMGSY roads', 'Complaints', 'Request', 'construction', 'Name', 'Government', 'India', 'scheme', 'Maoist', 'projects']

Row 10: ['undeveloped hill cum inter remote area', 'new Reliance Jio-4G/5G cum', 'Universal Service Obligation Fund', 'Honourable Minister Department', 'BSNL-3G/4G/5G Mobile Tower', 'other business personalities', 'other online services', 'mainstream area', 'other part', 'online activities', 'fire services', 'digital services', 'Dear Sir', 'urgent attention', 'Bamprada Gramapanchyat', 'Barkote Block', 'Deogarh District', 'Odisha State', 'long time', 'network connectivity', 'network problem', 'emergency time', 'particular place', 'Kaladu village', 'internet penetration', 'digital India', 'underprivileged people', 'Telecommunications', 'Suggestions', 'Others', 'Government', 'Grievance', 'country', 'residents', 'students', 'banking', 'problems', 'ambulance', 'lack', 'facilities', 'rest', 'scheme', 'USOF', 'advantages']

Row 12: ['Other National issues', 'CBODT CENTRAL BOARD', 'HAPPY NEW YEAR', 'HONOURABLE MINISTER', 'CASE ATTACHED', 'DIRECT TAXES', 'Home Affairs', 'Award', 'Others', 'SIR', 'GOVERNMENT', 'INDIA', 'DELHI', 'BLESS', 'EMPLOYEMENT']

Row 13: ['Telecommunication cum internet facility', 'Panchayat Development Related  Matter', 'undeveloped hill cum', 'Honourable Principal Secretary', 'Drinking Water facility', 'unfortunate matter', 'Panchayati Raj', 'Basic facilities', 'New Delhi', 'Grievance-Dear Sir', 'regular availability', 'Gambharibhuin village', 'Sado Gramapanchayat', 'Tileibani Block', 'Deogarh District', 'remote area', 'good communication', 'Regular Road', 'villages', 'Odisha', 'Department', 'Government', 'India', '76 years', 'Electricity', 'Health', 'Education', 'sensitive', 'steps']

#### Detect PII

In [187]:
# Every azure AI service will have its limits of howe many rows of a table can be passed in one API call.  
# 5 rows/API 

from math import ceil 

def detect_pii(df, column_name):

    max_rows_per_batch = 5 # Creating batches of 5 rows 
    num_batches = ceil(len(df) / max_rows_per_batch)
    pii_entities = []

    for batch_num in range(num_batches):
        start_idx = batch_num * max_rows_per_batch
        end_idx = start_idx + max_rows_per_batch

        documents = [{"id": str(idx), "text": text } for idx, text in df[column_name].iloc[start_idx:end_idx].iteritems()] # Input list with dict of id:text structure 

        responses = ai_client.recognize_pii_entities(documents) #recognize_pii_entities() 

        for result in responses:
            if not result.is_error:
                entity_text = [entity.text for entity in result.entities]
                pii_entities.append(";".join(entity_text)) # All the responses are here 

            else:
                pii_entities.append("error in pii detection") # errors also 
    return pii_entities

In [188]:
# Copy the data just in case 
selected_grievance_pii_detected_10_df = selected_grievance_keyphrases_10_df.copy() # Copy()
selected_grievance_pii_detected_10_df["pii_detected"] = detect_pii(selected_grievance_keyphrases_10_df, 'subject_content_text')
selected_grievance_pii_detected_10_df.head(3)

C:\Users\shivamsharma\AppData\Local\Temp\ipykernel_40304\3031197284.py:13: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  documents = [{"id": str(idx), "text": text } for idx, text in df[column_name].iloc[start_idx:end_idx].iteritems()]

,CategoryV7,registration_no,subject_content_text,keyphrases,pii_detected
0,11578.0,MORLY/E/2023/0000001,"Railways, ( Railway Board) >> Miscellaneous\r\...","[Miscellaneous Railway Board/ Zone, PSU/ PU/ O...",Railway Board;Railway Board;Railway Board - Ra...
2,2369.0,MOLBR/E/2023/0000001,Labour and Employment >> PF Withdrawal >> Othe...,"[M/S SKECHERS SOUTH ASIA PVT LTD, attachment p...",PF Withdrawal;M/S SKECHERS SOUTH ASIA PVT LTD;...
3,2379.0,MOLBR/E/2023/0000002,Labour and Employment >> Pension >> Others\r\n...,[SAAL PURE HUYE HAI FIR BHI MERA EPS ME XOXTX...,KANWAR NARENDER SINGH;X0X5X4X7X7X0;PF;Office;H...

In [189]:
# We detected PII in the data which was given by gov after removing the PII. 
 
print(selected_grievance_pii_detected_10_df.loc[3, 'pii_detected'])

KANWAR NARENDER SINGH;X0X5X4X7X7X0;PF;Office;HEMANT;CHAVHAN;KANWAR NARENDER SINGH;16 JANUARY 2018;30 JUNE 2022;02 JANUARY 2019

#### Summarization

In [190]:
# we are creating the summary of the problmes in the tickets 

from math import ceil

def extract_summary(df, column_name):
    max_num_of_rows = 5 # We are creating a batch of 5 rows/API call as Azure AI services have limits of how many records = rows / per  
    num_batches = ceil(len(df) / max_num_of_rows)
    summaries = []  

    for batch_num in range(num_batches):
        start_idx = batch_num * max_num_of_rows # Start of the index 
        end_idx = start_idx + max_num_of_rows # End in this batch 

        documents = [{"id": str(idx), "text": text} for idx, text in df[column_name].iloc[start_idx:end_idx].iteritems()]
        
        if documents:
            poller = ai_client.begin_extract_summary(documents) # begin_extract_summary() 
            extract_summary_results = poller.result() # async() its doing a poll the API in Auzre if result is ready or not 

            for doc in extract_summary_results:
                if not doc.is_error: # is_error
                    summary_text = " ".join([sentence.text for sentence in doc.sentences])
                    summaries.append(summary_text)
                else:
                    # Handle errors, e.g., by appending an error message or None
                    summaries.append(f"Error in summary extraction: {doc.error.code} - {doc.error.message}")

    return summaries

In [191]:
# Copy first 
selected_grievance_pii_with_summary_10_df = selected_grievance_pii_detected_10_df.copy()
# Make a summary 
selected_grievance_pii_with_summary_10_df["summary"] = extract_summary(selected_grievance_pii_detected_10_df, 'subject_content_text')
selected_grievance_pii_with_summary_10_df.head()

C:\Users\shivamsharma\AppData\Local\Temp\ipykernel_40304\4033143032.py:12: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  documents = [{"id": str(idx), "text": text} for idx, text in df[column_name].iloc[start_idx:end_idx].iteritems()]

,CategoryV7,registration_no,subject_content_text,keyphrases,pii_detected,summary
0,11578.0,MORLY/E/2023/0000001,"Railways, ( Railway Board) >> Miscellaneous\r\...","[Miscellaneous Railway Board/ Zone, PSU/ PU/ O...",Railway Board;Railway Board;Railway Board - Ra...,I further to informing you that the temporary...
2,2369.0,MOLBR/E/2023/0000001,Labour and Employment >> PF Withdrawal >> Othe...,"[M/S SKECHERS SOUTH ASIA PVT LTD, attachment p...",PF Withdrawal;M/S SKECHERS SOUTH ASIA PVT LTD;...,Labour and Employment >> PF Withdrawal >> Othe...
3,2379.0,MOLBR/E/2023/0000002,Labour and Employment >> Pension >> Others\r\n...,[SAAL PURE HUYE HAI FIR BHI MERA EPS ME XOXTX...,KANWAR NARENDER SINGH;X0X5X4X7X7X0;PF;Office;H...,Labour and Employment >> Pension >> Others Nam...
6,20493.0,MODEF/E/2023/0000001,Defence >> Canteen Stores Depot related >> Non...,"[son grocery dependent card, dependent/authori...",card holder;CSD;Chenab;widow;1495731;son;24;so...,Defence >> Canteen Stores Depot related >> Non...
7,5270.0,DEPOJ/E/2023/0000002,Justice >> Others\r\n-----------------------\r...,"[public servant, Police station, Justice, Othe...",Justice;நீதி அரசர்கள்;ஐயா;7/3/2020;றுப்பர்கள்;...,"பெரும் மதிப்பிற்குரிய நீதி அரசர்கள் ஐயா, 100 ர..."

In [192]:
print(selected_grievance_pii_with_summary_10_df.loc[2, 'summary'])

Labour and Employment >> PF Withdrawal >> Others Sir apply for final settlement but some technical issues I&#39;m not able to apply online so i apply offline final settlement i already send courier pf office kindly check Sir i request you to Epfo department please settled my pf final settlement

#### Language Detection

In [193]:
def detect_language(df, column_name):
    max_rows_per_batch = 5
    num_batches = ceil(len(df) / max_rows_per_batch)
    detected_lang = []

    for batch_num in range(num_batches):
        start_idx = batch_num * max_rows_per_batch
        end_idx = start_idx + max_rows_per_batch  

        documents = [{"id": str(idx), "text": text} for idx, text in df[column_name].iloc[start_idx:end_idx].iteritems()]


        responses = ai_client.detect_language(documents=documents)

        for result in responses:
            if not result.is_error:
                detected_lang.append(result.primary_language.name)
            else:
                detected_lang.append("Error in language detection")

    return detected_lang

In [194]:
# Copy the original df 
selected_grievance_detected_language_10_df = selected_grievance_pii_detected_10_df.copy()
# Lets the language 
selected_grievance_detected_language_10_df["detect_language"] = detect_language(selected_grievance_pii_detected_10_df, 'subject_content_text')

C:\Users\shivamsharma\AppData\Local\Temp\ipykernel_40304\4118618141.py:10: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  documents = [{"id": str(idx), "text": text} for idx, text in df[column_name].iloc[start_idx:end_idx].iteritems()]

In [195]:
# We have 1 rows with Tamil 
selected_grievance_detected_language_10_df["detect_language"].head()

0    English
2    English
3    English
6    English
7      Tamil
Name: detect_language, dtype: object

#### Translate Text

In [196]:
from azure.ai.translation.text import *
from azure.ai.translation.text.models import InputTextItem
from azure.ai.translation.text import TextTranslationClient

In [197]:
load_dotenv()
text_translator_key = os.getenv('TRANSLATOR_KEY') # Translator key 
text_translator_region = os.getenv('TRANSLATOR_REGION') # Translator region 

text_translator_credential = TranslatorCredential(text_translator_key, text_translator_region) # Keys 
text_translator_client = TextTranslationClient(text_translator_credential) # Client

In [198]:
# selected_grievance_translated_10_df.drop(selected_grievance_translated_10_df.index, inplace=True)

In [199]:
def translate_text(df, column_name, target_lang):
    translated_texts = []  # List to hold the translated texts
    for input_text in df[column_name]:
        
        input_text_elements = [InputTextItem(text=input_text)]  # Input tect goes here InputTextItem()

        translation_response = text_translator_client.translate(content=input_text_elements, to=[target_lang])
        
        translation = translation_response[0] if translation_response else None
        if translation:
            translated_text = translation.translations[0].text
            translated_texts.append(translated_text)
        else:
            translated_texts.append("Translation failed or not available")
    
    return translated_texts

In [200]:
# Copy first 
selected_grievance_translated_10_df = selected_grievance_detected_language_10_df.copy()
# Translate the text 
selected_grievance_translated_10_df['translated_text'] = translate_text(selected_grievance_detected_language_10_df, 'subject_content_text', 'en')

In [201]:
# selected_grievance_translated_10_df[['subject_content_text', 'translated_text']]

print(selected_grievance_translated_10_df.loc[7, 'subject_content_text'])

Justice >> Others
-----------------------
பெரும் மதிப்பிற்குரிய நீதி அரசர்கள் ஐயா,

100 ரூபாய் பத்திரத்தில் 7/3/2020 அன்று என்னை கொடூரமாக தாக்கியதை பார்த்த சங்கிலி கறுப்பர்கள் சாட்சி உறுதி பத்திரம் தந்துள்ளனர் அதனை உரிய நேரத்தில் சமர்பிப்பேன் ஐயா,எதிர் நீச்சல் அடி

இன்று ஏற்றுக்கொடி

இது Sp க்கும் அவனின் பொய்கதைகளுக்கு பின்னாலும் முன்னாலும் முட்டுகொடுப்பவர்களுக்கு

100 ரூபாய் சாட்சி உறுதி பத்திரம் சமர்பணம் .

என்னை புண்டாமவன் என்று பேசிய காவலருக்கு
எல என்னையால புண்டாமவனு கேட்ட ,அதற்கு நான் எல புண்டாமவனே, அப்படி பொதுமக்களிடம் பேசக்கூடாது என்று சொல்லி கொடுத்தேன் ஐயா,

எல நீவ செய்ய வேண்டிய வேலைய நான் செய்றம்ல

என் நெஞ்சில மிதிப்பியால

உனக்கு லஞ்சம் தரலனா ஏறி மிதிப்பியால

என் சாதிய கேவலமா பேசிவியால

you Are public servant 🔥என்றும் கூறினேன் ஐயா!

🔥Police காரணுக்கும் எனக்கும் சண்டை🔥

2019 ல் பிறகு கன்னியாகுமரி Police station உள்ளேயே போய் செப்டம்பர் மாதம் Camera முன்னாடி நின்னு நான்தான் மெசியா என் கடவுச்சீட்டுக்கு ஒரு பைசா லஞ்சம் தரமாட்டேன் கெத்தா ,திமிரா சொன்னவன் உங்கள் இந்திய குடிமகன் மெசியா🔥

🔥மயிர்நீப்பின் உயிர்வாழாக்கவரிமா அந்நார் உயிர்நீப்பர் மானம் வரின்🔥

மயிர் எடுப்பான் Sp நடவடிக்கை..🔥

In [202]:
print(selected_grievance_translated_10_df.loc[7, 'translated_text'])

Justice >> Others
-----------------------
Most Venerable Justice, Sir,

On 7/3/2020, the Chain Blacks who saw me brutally assaulted on a 100 rupee bond have given a testimony which I will submit in due time Sir, Opposite Swimming Feet

Acceptance today

It's for SP and those who prop up his lies behind and in front of him.

Affidavit of Rs.100/- submitted.

To the policeman who called me a pundamavan
When I asked him if he was able to do that, I told him not to talk to the public like that, sir.

I'm not doing what you're supposed to do.

In my heart

If you don't bribe, you don't have to climb

If you talk about my caste

You are public servant 🔥, sir!

🔥Fight🔥 between Police Karan and me

Then in 2019 he went inside the Kanyakumari Police Station and stood in front of the camera in September and said, I am the Messiah, I will not🔥 bribe a single paisa for my passport.

🔥The life of🔥 the hair is the life of the soul

Operation Hairpicker Sp.. 🔥